* {
    font-family: "Poppins", sans-serif;
}

/* UNSET STYLE BOOTSTRAP */

.dropdown-item:active {
    background-color: unset !important;
    color: unset !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: green;
}
  
/* WARNA UTAMA */

.text-primary {
    color: #2D79BD !important
}

.bg-primary {
    background-color: #2D79BD !important
}

.btn-primary {
    background-color: #2D79BD !important;
    border-color: #2D79BD !important;
}

.border-primary{
    border-color: #2D79BD !important;
}

/* WARNA KUNING */

.text-warning {
    color: #FFCC01 !important
}

.bg-warning {
    background-color: #FFCC01 !important
}

.btn-warning {
    background-color: #FFCC01 !important;
    border-color: #FFCC01 !important;
}

.border-warning{
    border-color: #FFCC01 !important;
}

/* RESPONSIVE INPUT */
@media (min-width: 768px) {
    .input-search {
        font-size: 24px;
    }
    .h-md-380px {
        height: 380px;
    }
}

/* TYPE-COLOR */
.type-bug{background-color: #729F3F;color: white}
.type-dragon{background-color: #F16E57;color: white}
.type-fairy{background-color: #FDB9E9;color: black}
.type-fire{background-color: #FD7D24;color: white}
.type-ghost{background-color: #7B62A3;color: white}
.type-ground{background-color: #AB9842;color: black}
.type-normal{background-color: #AB9842;color: black}
.type-psychic{background-color: #F366B9;color: white}
.type-steel{background-color: #9EB7B8;color: black}
.type-dark{background-color: #707070;color: white}
.type-electric{background-color: #EED535;color: black}
.type-fighting{background-color: #D56723;color: white}
.type-flying{background-color: #3DC7EF;color: black}
.type-grass{background-color: #9BCC50;color: black}
.type-ice{background-color: #3DC7EF;color: black}
.type-poison{background-color: #B97FC9;color: white}
.type-rock{background-color: #A38C21;color: white}
.type-water{background-color: #4592C4;color: white}

